{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autocomplete="off" id="symbol" name="symbol" placeholder="Symbol" type="text">
                <option selected>Select Stock</option>
                {% for symbol in unique_stock_symbols %}
                    <option id="symbol" name="symbol" value="{{ symbol['symbol'] }}">{{ symbol['symbol'] }}</option>
                {% endfor %}

            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of Shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}